simplejson==3.17.2
certifi==2019.11.28
chardet==3.0.4
urllib3==1.25.7
idna
requests
requests-toolbelt
dill
pycparser
cffi
six
cryptography
pyopenssl
sgrequests
soupsieve
beautifulsoup4
bs4
lxml
probableparsing
python-crfsuite
future
usaddress
jellyfish
us
python-dateutil
pytz
numpy
pandas
sqlalchemy
attrs
atomicwrites
pycodestyle
toml
autopep8
pathlib-mate
uszipcode
zipcodes
phonenumbers
sgvalidator
sglogging
sgscrape
wrapt
deprecated
selenium
selenium-wire
sgselenium