--extra-index-url https://dl.cloudsmith.io/KVaWma76J5VNwrOm/crawl/crawl/python/simple/
sgvalidator==0.0.70
sglogging==0.0.4
sgscrape==0.3.1
sgrequests==0.3.8
sgselenium==0.4.2
undetected-chromedriver==3.1.5.post4
selenium-stealth==1.0.6
webdriver-manager==3.7.0