--extra-index-url https://dl.cloudsmith.io/KVaWma76J5VNwrOm/crawl/crawl/python/simple/

beautifulsoup4==4.9.3
sglogging==0.0.4
sgselenium==0.1.4
selenium==3.141.0
webdriver_manager==3.4.2
selenium_stealth==1.0.6
tenacity==8.0.1
sgscrape==0.1.11