--extra-index-url https://dl.cloudsmith.io/KVaWma76J5VNwrOm/crawl/crawl/python/simple/

sgrequests==0.1.13
sgscrape==0.1.14
sgpostal==0.1.0
beautifulsoup4==4.9.3
sglogging==0.0.4
tenacity==7.0.0
simplejson==3.17.2
lxml==4.6.3