--extra-index-url https://dl.cloudsmith.io/KVaWma76J5VNwrOm/crawl/crawl/python/simple/
anyio==3.5.0
async-generator==1.10
attrs==21.4.0
beautifulsoup4==4.10.0
blinker==1.4
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
cryptography==36.0.1
Deprecated==1.2.13
dill==0.3.4
frozendict==1.2
geographiclib==1.52
geopy==2.0.0
h11==0.12.0
h2==4.1.0
hpack==4.0.0
httpcore==0.13.7
httpx==0.19.0
hyperframe==6.0.1
idna==3.3
kaitaistruct==0.9
lxml==4.6.5
numpy==1.22.1
ordered-set==4.0.2
outcome==1.1.0
pandas==1.1.5
pyasn1==0.4.8
pycparser==2.21
pyOpenSSL==21.0.0
pyparsing==3.0.6
pyproj==3.1.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
selenium==4.1.0
selenium-wire==4.2.5
sgcrawler==0.0.7
sglogging==0.0.4
sgrequests==0.2.9
sgscrape==0.2.6
sgselenium==0.1.4
sgzip==0.10.9
Shapely==1.7.1
simplejson==3.17.6
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
tenacity==7.0.0
trio==0.19.0
trio-websocket==0.9.2
undetected-chromedriver==2.1.2
urllib3==1.26.8
wrapt==1.13.3
wsproto==1.0.0
