atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.5.7
beautifulsoup4==4.9.3
blinker==1.4
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
cryptography==3.4.7
decorator==5.0.9
frozendict==1.2
future==0.18.2
geocoder==1.38.1
geographiclib==1.50
greenlet==1.1.0
h11==0.12.0
h2==4.0.0
hpack==4.0.0
hyperframe==6.0.1
idna==2.10
jellyfish==0.5.6
kaitaistruct==0.9
numpy==1.20.3
pandas==1.2.4
pathlib-mate==1.0.1
phonenumbers==8.10.13
probableparsing==0.0.1
pyasn1==0.4.8
pycodestyle==2.7.0
pycparser==2.20
pyOpenSSL==20.0.1
pyparsing==2.4.7
PySocks==1.7.1
python-crfsuite==0.9.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
ratelim==0.1.6
requests==2.25.1
requests-toolbelt==0.9.1
selenium==3.141.0
selenium-wire==4.2.5
sglogging==0.0.4
sgrequests==0.1.12
sgvalidator==0.0.71
Shapely==1.7.1
simplejson==3.17.2
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.18
tenacity==7.0.0
termcolor==1.1.0
toml==0.10.2
undetected-chromedriver==2.1.2
urllib3==1.26.5
us==1.0.0
usaddress==0.5.10
usaddress-scourgify==0.2.4
uszipcode==0.2.6
wrapt==1.12.1
wsproto==1.0.0
yaml-config==0.1.5
zipcodes==1.0.5
