--extra-index-url https://dl.cloudsmith.io/KVaWma76J5VNwrOm/crawl/crawl/python/simple/
lxml==4.6.2
beautifulsoup4==4.10.0
sgscrape==0.2.9
sgrequests==0.3.4
sglogging==0.0.4
sgselenium==0.2.4
selenium==3.141.0
