--extra-index-url https://dl.cloudsmith.io/KVaWma76J5VNwrOm/crawl/crawl/python/simple/
sgselenium==0.1.4
selenium==3.141.0
sgzip==0.7.1
sglogging==0.0.4
sgscrape==0.1.3
sgrequests==0.1.12
beautifulsoup4==4.9.3
