--extra-index-url https://dl.cloudsmith.io/KVaWma76J5VNwrOm/crawl/crawl/python/simple/
beautifulsoup4==4.7.1
httpx==0.19.0
sglogging==0.0.4
sgrequests==0.3.1
sgvalidator==0.0.71
sgpostal==0.1.0
sgscrape==0.2.9
sgzip==0.10.15
