--extra-index-url https://dl.cloudsmith.io/KVaWma76J5VNwrOm/crawl/crawl/python/simple/
selenium==3.141.0
sgselenium==0.2.4
sgzip==0.11.0
sgscrape==0.2.9
sgvalidator==0.0.71
lxml==4.6.2
sgrequests==0.3.5
