--extra-index-url https://dl.cloudsmith.io/KVaWma76J5VNwrOm/crawl/crawl/python/simple/
requests==2.25.0
sglogging==0.0.4
sgrequests==0.2.10
sgscrape==0.2.9
sgzip==0.10.15
urllib3==1.26.2
beautifulsoup4==4.7.1
bs4==0.0.1