anyio==3.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
cryptography==3.4.7
frozendict==1.2
h11==0.12.0
httpcore==0.13.6
httpx==0.18.2
idna==2.10
lxml==4.6.3
pycparser==2.20
pyOpenSSL==20.0.1
requests==2.25.1
rfc3986==1.5.0
sglogging==0.0.4
sgrequests==0.1.12
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
tenacity==7.0.0
typing-extensions==3.10.0.0
urllib3==1.26.6
