--extra-index-url https://dl.cloudsmith.io/KVaWma76J5VNwrOm/crawl/crawl/python/simple/
sgvalidator==0.0.71
sgselenium==0.1.4
selenium==3.141.0
sgscrape==0.2.6
webdriver_manager==3.4.2
sgpostal==0.1.0
sglogging==0.0.4
beautifulsoup4==4.10.0
