--extra-index-url https://dl.cloudsmith.io/KVaWma76J5VNwrOm/crawl/crawl/python/simple/
sglogging==0.0.4
sgscrape==0.3.1
sgselenium==0.4.4
sgrequests==0.3.9
webdriver_manager==3.7.0
sgvalidator==0.0.71
