--extra-index-url https://dl.cloudsmith.io/KVaWma76J5VNwrOm/crawl/crawl/python/simple/

sgrequests==0.1.12
requests-random-user-agent==2021.5.29
sgzip==0.10.2
tenacity==7.0.0
sglogging==0.0.4
sgscrape==0.1.13